PersonnelOfficer/Connected Services/PersonnelOfficerServiceRef/WCFService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:44336/WCFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PersonalOfficerLibrary" />
  <xs:element name="SaveEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PersonalOfficerLibrary" minOccurs="0" name="employee" nillable="true" type="q1:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveEmployeeResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="employeeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PersonalOfficerLibrary" minOccurs="0" name="employee" nillable="true" type="q2:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteEmployeeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PersonalOfficerLibrary" minOccurs="0" name="department" nillable="true" type="q3:Department" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveDepartmentResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="departmentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PersonalOfficerLibrary" minOccurs="0" name="department" nillable="true" type="q4:Department" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteDepartmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PersonalOfficerLibrary" minOccurs="0" name="position" nillable="true" type="q5:Position" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePositionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavePositionResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="positionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PersonalOfficerLibrary" minOccurs="0" name="position" nillable="true" type="q6:Position" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePositionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePositionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployees">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PersonalOfficerLibrary" minOccurs="0" name="GetEmployeesResult" nillable="true" type="q7:ArrayOfEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PersonalOfficerLibrary" minOccurs="0" name="GetDepartmentsResult" nillable="true" type="q8:ArrayOfDepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPositions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPositionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PersonalOfficerLibrary" minOccurs="0" name="GetPositionsResult" nillable="true" type="q9:ArrayOfPosition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>