PersonnelOfficer/Connected Services/PersonnelOfficerServiceRef/WCFService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:44336/WCFService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost:44336/WCFService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://localhost:44336/WCFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PersonalOfficerLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFService_SaveEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveEmployee" />
  </wsdl:message>
  <wsdl:message name="IWCFService_SaveEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_DeleteEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployee" />
  </wsdl:message>
  <wsdl:message name="IWCFService_DeleteEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_SaveDepartment_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveDepartment" />
  </wsdl:message>
  <wsdl:message name="IWCFService_SaveDepartment_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_DeleteDepartment_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDepartment" />
  </wsdl:message>
  <wsdl:message name="IWCFService_DeleteDepartment_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_SavePosition_InputMessage">
    <wsdl:part name="parameters" element="tns:SavePosition" />
  </wsdl:message>
  <wsdl:message name="IWCFService_SavePosition_OutputMessage">
    <wsdl:part name="parameters" element="tns:SavePositionResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_DeletePosition_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePosition" />
  </wsdl:message>
  <wsdl:message name="IWCFService_DeletePosition_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePositionResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_GetEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployees" />
  </wsdl:message>
  <wsdl:message name="IWCFService_GetEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_GetDepartments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartments" />
  </wsdl:message>
  <wsdl:message name="IWCFService_GetDepartments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartmentsResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_GetPositions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPositions" />
  </wsdl:message>
  <wsdl:message name="IWCFService_GetPositions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPositionsResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCFService">
    <wsdl:operation name="SaveEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/SaveEmployee" message="tns:IWCFService_SaveEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/SaveEmployeeResponse" message="tns:IWCFService_SaveEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/DeleteEmployee" message="tns:IWCFService_DeleteEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/DeleteEmployeeResponse" message="tns:IWCFService_DeleteEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveDepartment">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/SaveDepartment" message="tns:IWCFService_SaveDepartment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/SaveDepartmentResponse" message="tns:IWCFService_SaveDepartment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDepartment">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/DeleteDepartment" message="tns:IWCFService_DeleteDepartment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/DeleteDepartmentResponse" message="tns:IWCFService_DeleteDepartment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SavePosition">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/SavePosition" message="tns:IWCFService_SavePosition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/SavePositionResponse" message="tns:IWCFService_SavePosition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePosition">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/DeletePosition" message="tns:IWCFService_DeletePosition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/DeletePositionResponse" message="tns:IWCFService_DeletePosition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/GetEmployees" message="tns:IWCFService_GetEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/GetEmployeesResponse" message="tns:IWCFService_GetEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartments">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/GetDepartments" message="tns:IWCFService_GetDepartments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/GetDepartmentsResponse" message="tns:IWCFService_GetDepartments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPositions">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/GetPositions" message="tns:IWCFService_GetPositions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/GetPositionsResponse" message="tns:IWCFService_GetPositions_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWCFService" type="tns:IWCFService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveEmployee">
      <soap:operation soapAction="http://tempuri.org/IWCFService/SaveEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <soap:operation soapAction="http://tempuri.org/IWCFService/DeleteEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDepartment">
      <soap:operation soapAction="http://tempuri.org/IWCFService/SaveDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDepartment">
      <soap:operation soapAction="http://tempuri.org/IWCFService/DeleteDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePosition">
      <soap:operation soapAction="http://tempuri.org/IWCFService/SavePosition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePosition">
      <soap:operation soapAction="http://tempuri.org/IWCFService/DeletePosition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployees">
      <soap:operation soapAction="http://tempuri.org/IWCFService/GetEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartments">
      <soap:operation soapAction="http://tempuri.org/IWCFService/GetDepartments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPositions">
      <soap:operation soapAction="http://tempuri.org/IWCFService/GetPositions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFService">
    <wsdl:port name="BasicHttpBinding_IWCFService" binding="tns:BasicHttpBinding_IWCFService">
      <soap:address location="http://localhost:31133/WCFService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>