PersonnelOfficer/Connected Services/PersonnelOfficerServiceRef/WCFService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PersonalOfficerLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PersonalOfficerLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:44336/WCFService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DepartmentId" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastEditState" type="tns:EditState" />
      <xs:element minOccurs="0" name="Married" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mobilephone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Patronymic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PositionId" type="xs:int" />
      <xs:element minOccurs="0" name="Salary" type="xs:double" />
      <xs:element minOccurs="0" name="Sex" type="tns:Sex" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
  <xs:simpleType name="EditState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Insert" />
      <xs:enumeration value="Edit" />
      <xs:enumeration value="Delete" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EditState" nillable="true" type="tns:EditState" />
  <xs:simpleType name="Sex">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Man">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1052</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Female">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1046</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Sex" nillable="true" type="tns:Sex" />
  <xs:complexType name="Department">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastEditState" type="tns:EditState" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RommNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Department" nillable="true" type="tns:Department" />
  <xs:complexType name="Position">
    <xs:sequence>
      <xs:element minOccurs="0" name="DepartmentId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastEditState" type="tns:EditState" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SalaryFrom" type="xs:double" />
      <xs:element minOccurs="0" name="SalaryTo" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Position" nillable="true" type="tns:Position" />
  <xs:complexType name="ArrayOfEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployee" nillable="true" type="tns:ArrayOfEmployee" />
  <xs:complexType name="ArrayOfDepartment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Department" nillable="true" type="tns:Department" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDepartment" nillable="true" type="tns:ArrayOfDepartment" />
  <xs:complexType name="ArrayOfPosition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Position" nillable="true" type="tns:Position" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPosition" nillable="true" type="tns:ArrayOfPosition" />
</xs:schema>